{% extends 'htmlbase.html'%} {%block content%}



<div class="container">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <h3>Our sources</h3> {% for source in source%}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h1>{{source.name }}</h1>

                </div>
                <div class="flip-card-back d-block">
                    <div>
                        <p>{{source.description}}</p>
                        <a href="/articles/{{source.name}}">Click me for my news</a>
                        </p>
                    </div>



                </div>

            </div>
        </div>
        {% endfor%}
    </div>




    <div class="col-xs-8 col-sm-8 col-md-6 col-lg-8 ">
        <h3>Top Headlines</h3>
        {%for article in articles%}
        <div class="container">
            {{sourcePassed|safe}}{{article.source.name}} {%if article.source.name|string()== sourcePassed|string()%}
            <img src="{{article.urlToImage}}" alt="">
            <p>{{article.description}}</p>{%elif sourcePassed|length
            <1%} <img src="{{article.urlToImage}}" alt="">
                <p>{{article.description}}</p>{%else%}
                <h1>Not a member</h1>{%endif%} </div>
        {%endfor%}

    </div>

</div>
{%endblock%}