{% extends 'htmlbase.html'%} {%block content%}

<div class="container">
    {% for source in source%}
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>{{source.name }}</h1>
                <!-- <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;"> -->
            </div>
            <div class="flip-card-back">

                <p>{{source.description}}</p>
                <div class="d-flex flex-row bd-highlight mb-3">
                    <h6 class="p-2 bd-highlight">{{source.country}}</h6>
                    <h6 class="p-2 bd-highlight">{{source.language}}</h6>
                </div>

            </div>
        </div>
    </div>

    {% endfor%}


</div>
{%endblock%}